<!DOCTYPE html>
<html lang="en">

<head>
  <title>CLI Template {{ if .title }}- {{ .title }}{{ end }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-with, initial-scale=1">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://unpkg.com/htmx.org/dist/htmx.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script type="module">
    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()

    Stimulus.register("hello", class extends Controller {
      static targets = ["name"]

      greet() {
        console.log(`Hello, ${this.name}!`)
      }

      get name() {
        return this.nameTarget.value
      }

      connect() {
        console.log("Hello, Stimulus!", this.element)
      }
    })
  </script>
</head>

<body class="main-content">
  {{ embed }}
</body>

</html>
