<main class="h-screen border-yellow-800 border-4">
	<div class="mx-auto my-0 pt-14 pb-0 text-center font-serif border-yellow-800 border-4">
	    <h1 class="font-bold text-6xl border-yellow-800 border-4">CLI Template</h1>
	</div>


	<!-- Search Box -->
	<div class="_fixed mx-auto">
	    <input type="text" name="terms" id="terms" class="">
	</div>

	<!-- Stimulus Test -->
	<div data-controller="hello" class="hidden">
	    <input data-hello-target="name" type="text" class="w-64" data-action="input->hello#greet">
	</div>
</main>
